<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Summer Of Code</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Google Summer Of Code ☀️</h3>
    <h1>Welcome to our 1,280 GSoC Contributors</h1>

    <h4 class="info">What is Google Summer of Code?
Google Summer of Code is a global, online program focused on bringing new contributors into open source software development. GSoC Contributors work with an open source organization on a 12+ week programming project under the guidance of mentors.</h4>
<hr>
 <form method="get" action="/projects/student">
      <p>Browse projects and apply easily.</p>
    <button type="submit" class="add">I am student</button>
  
 </form>
 <br>
 <br>

 <form method="get" action="/projects/company">
     <p>Add and manage your project listings.</p>
    <button type="submit" class="add">As a company</button>
 </form>
 




</body>
</html>